<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.img.mapper.ImgCateMapper">
    
    <resultMap type="ImgCate" id="ImgCateResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectImgCateVo">
        select id, user_id, name from img_cate
    </sql>

    <select id="selectImgCateList" parameterType="ImgCate" resultMap="ImgCateResult">
        <include refid="selectImgCateVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectImgCateById" parameterType="Long" resultMap="ImgCateResult">
        <include refid="selectImgCateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertImgCate" parameterType="ImgCate">
        insert into img_cate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null">#{name},</if>
         </trim>
    </insert>

    <update id="updateImgCate" parameterType="ImgCate">
        update img_cate
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImgCateById" parameterType="Long">
        delete from img_cate where id = #{id}
    </delete>

    <delete id="deleteImgCateByIds" parameterType="String">
        delete from img_cate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>